<tr>
    <td>Kalana</td>
    <td>001</td>
    <td>test</td>
    <td>test</td>
    <td>3</td>
    <td>
        <a href="/update-people?id=<%=users[i]._id%>" class="btn border-shadow update">Edit</a>
        <a href="#" class="btn border-shadow delete">Delete</a>
    </td>
</tr>



<!-- <% for(var i=0; i<users.length; i++)%>
<tr>
    <td><%=users[i].preferedName%></td>
    <td><%=i+1%></td>
    <td><%=users[i].designation%></td>
    <td><%=users[i].employeeType%></td>
    <td><%=users[i].experience%></td>
    <td>
        <a href="/update-people" class="btn border-shadow update">Edit</a>
        <a href="#" class="btn border-shadow delete">Delete</a>
    </td>
</tr>
<%}%> -->